.homepage {
  color: #8b8b8b;
  font-size: 4.8vmin;
}

.homepage strong {
  color: #000;
  position: relative;
  z-index: 1;
}
.homepage strong::before {
  content: "";
  height: 12px;
  width: 98%;
  left: 12px;
  bottom: 2px;
  z-index: -1;
  background: color(srgb 1 0.2 0.33 / 0.37);
  position: absolute;
}